.block {
	border: 1px solid black;
}

<<<<<<< HEAD
.alphabet {
	margin-top: 10px;
}

#submit {
  font-size: 2em;
=======
.game-table input[type="text"] {
    background: transparent;
    border: none;
    font-size: 0.5em;
    text-align: center;
}

#develop_success_alert {
	background-color: #DFF0D8;
	color: #3B743C;
	width: 50vw;
	margin-left: 35vh;
	margin-top: 2vh;
	display: none;
>>>>>>> 2fc985e3707fef55b71465982259091ae11ed10e
}