/*disable text selection for game*/
body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;     
  cursor: default;     
}

::-moz-selection { 
    background-color: #BA9EB0; 
    color: #ffffff;
}

::selection {
    background-color: transparent;
}

.core-container {
  position: relative;
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  border-radius: 0px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.brand {
  font-size: 1.5em;
  padding-left: 30px;
  width: 180px;
}

.navbar-link {
  font-size: 16px;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.navbar-link:hover {
  color: rgba(0, 0, 0);
  font-size: 16px;
}

/* Add a gray background color and some padding to the footer */
footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}